# Ignore everything by default except current app
# (так как сборка идёт из apps/provider, нет смысла исключать другие apps)
# Просто убедимся, что в образ не попадёт мусор

# -------------------------------
# Sensitive files
# -------------------------------
.env
.env.*
*.pem
*.key
*.crt
secrets/
*.yaml
*.yml
*.bat
*.conf
init-mongo.js
mongo-init.js

# -------------------------------
# Version control
# -------------------------------
.git
.gitignore
.gitattributes

# -------------------------------
# IDE & local configs
# -------------------------------
.idea/
.vscode/
*.iml

# -------------------------------
# Temp & logs
# -------------------------------
*.log
*.tmp
*.pid
*.swp
*.swo
*.bak

# -------------------------------
# Build artifacts & caches
# -------------------------------
node_modules/
dist/
build/
target/
out/

# -------------------------------
# OS files
# -------------------------------
.DS_Store
Thumbs.db
*.~lock.*
